/*

Resset do css

*/

* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}


/*  
----------------------------------------------------------------
*/

.div-hideHard{
	display: none !important;
}

.marginBottom10{
	margin-bottom: 10px;
}

.marginRight10{
	margin-right: 10px;
}

.marginLeft10{
	margin-left: 10px;
}

.marginTop10{
	margin-top: 10px;
}

.margin10{
	margin: 10px 10px;
}

.clear{
	clear: both;
}

.div-hide{
	display: none;
}

.div-show{
	display: block;
}

.div-left{
	float: left;
}

.div-right{
	float: right;
}

.div-linha{
	width: 100%;
	float: left;
}

.coluna4{
	max-width: 25%;
	width: 100%;
	float: left;
}

.coluna3{
	max-width: 30%;
	width: 100%;
	float: left;
}

.coluna2{
	max-width: 50%;
	width: 100%;
	float: left;
}

.coluna1{
	max-width: 100%;
	width: 100%;
	float: left;
}








